body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Disable horizontal scroll for the entire body */
  background: #14131a;
}

.left-bar {
  position: fixed; /* Fixed position */
  left: 30px;
  top: 20px;
  bottom: 0;
  width: 270px; /* Adjust the width as needed */
  background-color: #1c1b23;
  color: #fff;
  padding: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  border-top-right-radius: 8px;
  overflow-y: auto; /* Enable vertical scroll for the left bar if needed */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.profile_cover {
  /* Adjust the margin to make room for the left bar */
  padding: 20px;
  height: 200px;
  width: 100%;
  padding-top: 20px;
  display: flex;
  margin-left: 300px;
  align-items: center;
}
#e {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin: 13px;
}
.profile {
  display: flex;
}

.profile::before {
  height: 130px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 8px;
  content: "";
  position: absolute;
  left: 0;
  margin-left: 320px;
  background-image: url(./img/profile_div_cover.jpeg);
  background-size: cover;
  filter: blur(4px);
  padding-top: 20px;
  z-index: -1;
}
.name {
  width: 20%;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name #name {
  color: #fff;
  font-weight: 700;
  font-size: 1.875rem;
  font-size: 30px;
}
.name #developer {
  color: #fff;
  margin-top: -15px;
}
.left-bar .icons {
  width: 150px;
  display: flex;
  align-content: center;
  margin-left: -5z0px;
  padding: 20px;
}
.left-bar .icons i {
  font-size: 20px;
  padding-right: 25px;
  color: #8b8a91;
}
.left-bar .icons a {
  text-decoration: none;
  color: #8b8a91;
  font-size: 20px;
  /* padding-top: 1px; */
}
.left-bar .social {
  width: 150px;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-left: 0px;
}
.left-bar .social #social_para {
  margin-left: 10px;
}
.left-bar .social #social_para {
  color: #fff;
  font-size: 20px;
  margin-left: 30px;
}
.left-bar .icons #Instagram {
  font-size: 25px;
  color: rgb(205, 3, 158);
}
.left-bar .icons #Github {
  font-size: 25px;
  color: rgb(254, 252, 255);
}
.left-bar .icons #Linkdein {
  font-size: 25px;
  color: rgb(3, 78, 170);
}
.left-bar .icons #Email {
  font-size: 25px;
  color: #f55f45;
}
.boxes {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.firstbox,
.secondbox,
.thirdbox,
.fourthbox {
  width: 18%;
  height: 280px;
  margin-left: 20px;
  text-align: left;
  background-color: transparent;
  background-image: radial-gradient(at top right, #00e1ff24 0%, #01141d 50%);
  padding: 40px 40px 40px 40px;
  padding: 29px 38px 12px 40px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff29;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  margin: 20px;
}
.firstbox:hover,
.secondbox:hover,
.thirdbox:hover,
.fourthbox:hover {
  transform: translateY(-10px);
  transition: 0.7s;
  /* transition: transform 0.3s ease-in;   */
  color: black;
  background-image: radial-gradient(at top right, #01141d 0%, #00e1ff24 50%);
}
.boxicon {
  width: 60px;
  background-color: #2edaf1;
  padding: 16px 16px 16px 16px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
}
.thirdicon_first a {
  width: 50%;
  height: 50px;
}
.thirdicon_first a i {
  text-decoration: none;
  color: whitesmoke;
  font-size: 25px;
}
.healthcare_beardo_buttons a button i:hover {
  color: black;
}
.boxpara {
  color: white;
  font-family: "Orbitron", sans-serif;
}
.boxpara h2 {
  font-family: "Orbitron", sans-serif;
  margin-top: 10px;
}
.boxpara p {
  margin-top: 20px;
  text-align: left;
  line-height: 25px;
}
.button {
  border: 2px solid black;
}
.button {
  text-decoration: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: aquamarine;
  margin-top: 20px;
  border-color: #2edaf1;
  background-color: transparent;
  color: white;
}
.button:hover {
  cursor: pointer;
  /* transform: translateY(-10px); */
  transition: transform 0.2s ease-in;
  color: black;
  background-color: aqua;
  transition: 0.3s ease-in;
}
#playbutton_healthcare_beardo_button .button:hover {
  color: black;
}
.button i {
  text-decoration: none;
  color: whitesmoke;
}
.box_cover {
  margin-left: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* Add this to the end of your existing CSS */

@media only screen and (max-width: 1200px) {
  .boxes {
    width: 90%;
  }

  .firstbox,
  .secondbox,
  .thirdbox,
  .fourthbox {
    width: 40%;
    margin: 20px 5%;
    height: 260px;
  }

  .box_cover {
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .boxes {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .firstbox,
  .secondbox,
  .thirdbox,
  .fourthbox {
    width: 80%;
    margin: 20px 0;
    height: 260px;
    padding: 29px 29px 12px 40px;
  }

  .box_cover {
    margin-left: 0;
  }
  .skills_cover {
    margin-left: 0;
  }
  .skills_cover {
    margin-left: 0;
    width: 100%;
  }
  .boxicon_covertwo {
    width: 110px;
    height: 40px;
    background-image: linear-gradient(to right, orange, red);
    clip-path: polygon(0 10%, 10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
    transition: background-color 0.5s;
    margin-top: 25px;
    margin-left: 15px;
}
}

/* Add more media queries as needed for smaller screens */
/* Add this to the end of your existing CSS */

/* Responsive styles for left bar */
/* Add this to the beginning of your existing CSS */
#menu-icon {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  display: none; /* Initially hide the icon on larger screens */
}

/* Show the icon on smaller screens */
@media only screen and (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .left-bar {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 60%;
    background-color: #1c1b23;
    color: #fff;
    padding: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    overflow-y: auto;
    z-index: 1;
  }

  .show-left-bar {
    display: flex;
  }

  .left-bar .icons {
    margin-left: 0;
  }
  .profile::before {
    height: 130px;
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
    content: "";
    position: absolute;
    left: 0;
    background-image: url(./img/profile_div_cover.jpeg);
    background-size: cover;
    filter: blur(4px);
    padding-top: 20px;
    z-index: -1;
    margin-left: 0px;
  }
  .profile_cover {
    margin-left: 0px;
    padding: 0px;
  }
  .name {
    width: 25%;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
  }
  .name #developer {
    margin-top: -5px;
  }
  .name #name {
    font-size: 14px;
  }
}

/* Add this to the end of your existing CSS */
/* Hamburger menu icon styling */
#menu-icon {
  font-size: 35px;
  cursor: pointer;
  position: relative;
  right: 20px;
  top: 0px;
  margin-left: 65px;
  color: #fff;
}

#menu-icon:hover {
  opacity: 0.8;
}

/* Responsive styles for left bar */
.left-bar {
  transition: 0.3s; /* Smooth transition for better user experience */
  transition: all 2s ease-in-out;
}

.left-bar.show-left-bar {
  width: 70%; /* Adjust the width to cover the entire screen */
  transition: all 2s ease-in-out;
}
.healthcare_beardo_buttons {
  display: flex;
  margin-top: -25px;
  height: 100px;
}
.healthcare_beardo_buttons {
  display: flex;
  justify-content: space-between;
}

.button:hover {
  background-color: aqua;
}

.button i {
  color: white;
}

.button:hover i {
  color: black; /* Change the color of the icon on hover */
}
.healthcare_beardo_buttons #code_healthcare_beardo {
  margin-left: 40px;
}
#bottom_box {
  margin-top: 5px;
}

.left-bar .icons:hover{
  transform: translateY(-10px);
  transition-duration: .3s;
  transition: 0.7s;
  cursor: pointer;
}

 
@media only screen and (max-width: 1200px) {
  .skills {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .skills {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}
/* Add this inside the media query for max-width: 768px */
@media only screen and (max-width: 768px) {
  .skills_cover {
    margin-left: 0;
    width: 100%;
  }
  .boxicon_covertwo {
    width: 110px;
    height: 40px;
    background-image: linear-gradient(to right, orange, red);
    clip-path: polygon(0 10%, 10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
    transition: background-color 0.5s;
    margin-top: 25px;
    margin-left: 15px;
}

}
.skills_cover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills_cover h1{
  color: whitesmoke;
  text-align: center;
  margin-top: 30px;
  margin-bottom: -20px;
}
.coverof_skills{
  /* margin-left: 150px; */
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
}
.boxicon_covertwo {
  width: 200px;
  height: 100px;
  background-image: linear-gradient(to right, orange, red);
  clip-path: polygon(0 10%, 10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible; /* Set overflow to visible */
  transition: background-color 0.5s; /* Added transition for background color */
  margin-left: 30px;
  margin-top: 25px;
}

.boxicon_covertwo .boxicontwo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxicon_covertwo p {
  color: whitesmoke;
  font-size: 20px;
  margin-left: 20px;
}

.boxicon_covertwo #imagetwo {
  position: absolute;
  height: 100px;
  width: 100px;
  opacity: 0;
  top: 25%;
  transition: top 0.5s, opacity 0.5s;
  z-index: 1; /* Set a higher z-index */
}

.boxicon_covertwo:hover #imagetwo {
  top: 0;
  opacity: 1;
}

.boxicon_covertwo:hover { /* Change background color on hover */
  cursor: pointer;
}
.boxicon_covertwo:hover #imageone{
  opacity: 0;
}
.boxicon_covertwo:hover #para{
  opacity: 0;
}


@media only screen and (max-width: 768px) {
  .coverof_skills {
    margin-left: 0;
    width: 100%;
  }
  .boxicon_covertwo {
    width: 110px;
    height: 40px;
    background-image: linear-gradient(to right, orange, red);
    clip-path: polygon(0 10%, 10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
    transition: background-color 0.5s;
    margin-top: 25px;
    margin-left: 15px;
}
}

.certification {
  margin-top: 30px;
  margin-left: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.certification_cover {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
}
.certification h1{
  color: whitesmoke;
  text-align: center;
}
.certification_boxes{
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.first_certification_box{
  
  margin-left: 20px;
  margin-top: 20px;
}
.second_certification_box{
 
  margin-left: 20px;
  margin-top: 20px;
}
.third_certification_box{
  margin-left: 20px;
  margin-top: 20px;
}
.fourth_certification_box{
  margin-left: 20px;
  margin-top: 20px;
}

.project-card {
  position: relative;
  width: 200px;
  height: 100px;
  perspective: 1000px;
}

.project-front,
.project-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s;
  /* border-top-right-radius: 90px; */
}
.project-front:hover{
  box-shadow: 0 8px 16px rgb(255, 255, 255);

}
.project-back:hover{
  box-shadow: 0 8px 16px rgb(255, 255, 255);

}
.project-card:hover .project-front {
  transform: rotateY(180deg);
}

.project-card:hover .project-back {
  /* border-top-left-radius: 106px; */
  /* border-top-right-radius: 0px; */
  transform: rotateY(0deg);
}

.project-front {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-back {
  color: #333;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-front h2,
.project-back a {
  font-size: 17px;
  margin-bottom: 10px;
}

.project-front p {
  font-size: 18px;
  text-align: center;
  line-height: 30.2px;
  margin-top: 0;
}

.project-back a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00cbfe;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.project-back a:hover {
  background-color: #2980b9;
  color: #ffff;
}
@media only screen and (max-width: 768px) {
  .certification{
    margin-left: 0px;
  }
  .certification_boxes{
    width: 100%;
  }
  .project-card{
    width: 330px;
    height: 80px;
  }
  .first_certification_box,.second_certification_box,.third_certification_box{
    margin-left: 0px;
  }
}

.contact {
  margin-top: 30px;
  margin-left: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact_cover {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1b23;
}

.contact_cover h1{
  color: whitesmoke;
}
.contact_cover p{
  color: whitesmoke;
}
@media only screen and (max-width: 768px) {
  .contact{
    margin-left: 0px;
  }
  .contact_cover{
    width: 100%;
  }
  .contact_cover h1{
    font-size: 20px;
  }
  .contact_cover p{
    font-size: 15px;
  }
}